.header {
    display: flex;
    justify-content: space-between;
    margin: 12px;
    border: 1px solid black;
}

.navitems ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    align-items: center;
}

.navitems ul li {
    padding: 18px;
}

.Logo {
    width: 130px;
}

.card {
    width: 250px;
    border: 1px solid black;
    padding: 20px;
    margin: 12px;

}

.card img {
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shimmer {
    height: 400px;
    width: 250px;
    margin: 12px;
    background-color: rgb(191, 189, 189);

}