.header {
    display: flex;
    justify-content: space-between;
    margin: 12px;
    border: 1px solid black;
}

.navitems ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    align-items: center;
    text-decoration: none;
}

.navitems ul li {
    padding: 18px;
    text-decoration: none;
}

.Logo {
    width: 130px;
}

.card {
    width: 250px;
    border: 1px solid black;
    padding: 20px;
    margin: 12px;
    height: 500px;

}

.card img {
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shimmer {
    height: 500px;
    width: 350px;
    margin: 20px;
    background-color: rgb(191, 189, 189);

}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

table,
th,
thead,
tbody,
tr,
td {
    border: 1px solid black;
}

.restaurantCard {
    text-decoration: none;
}